{% extends "base.html" %}
{% block content %}

<div class="card">
<h1>Timeline</h1>
<h2>Education & Certifications</h2>
<ul>
  <li>2004 – Information Technology Diploma, PC Training & Business College</li>
  <li>2017 – Certificate in Business Analysis, Faculty Training Institute</li>
  <li>October 2025 – Technical Support Engineering Certificate, BYU Pathway Worldwide</li>
  <li>2027 (expected) – Bachelor of Applied Science in Information Technology, BYU Pathway Worldwide</li>
</ul>
<h2>Career Highlights</h2>
<ul>
  <li>2024 – TSA Managed Helpdesk Support Analyst, Keyloop</li>
  <li>2025 – K8 Technical Lead, Klipboard</li>
</ul>
</div>

{% endblock %}
